<!DOCTYPE html>
<html>
    {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{% block title %}L'Eldorado{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css')}}"> {# Import Bootstrap(Composeur#}
        <link rel="stylesheet" href="{{ asset('./css/main.css')}}"> 
        {% block stylesheets %}{% endblock %}
    {% endblock %}  

    {% block body %}
    {% block nav %}  {# Nav bar par default #}
        <nav class="nav1 navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle icon-bar" data-toggle="collapse" id="inputResponsive" data-target="#myNavbar">

            </button>
            <header class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{path('salon')}}">Salon de thé</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('patisserie')}}">Gateaux</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('login')}}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('resto')}}">Restauration</a></li>
                </ul>
            </header>
            <ul class="contact">
                <img id="logo" src="./../images/large_fun-in-the-sun-title.png" alt="logo">
                <li>N°0612345678</li>
                <li>Rue de la liberation</li>
            </ul>
        </nav>
    {% endblock %}
    
        <script type="text/javascript" src="{{asset('../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js')}}"></script> {# Import jquery(Composeur#}
        <script type="text/javascript" src="{{asset('../vendor/twbs/bootstrap/dist/js/bootstrap.min.js')}}"></script> {# Import BootstrapJs(Composeur#}
        <script type="text/javascript" src="{{asset('./js/scriptNav.js')}}"></script>  
    {% block corp %}{% endblock %} {# Contenue changent  #}
         
    {% endblock %}


</html>