{% extends "base.html.twig" %}


{% block body %}{{parent()}}{% endblock %}
    
    
    {% block corp %}
        <h2 id="admiSalon">Liste des Plats</h2>
        <a href="{{ path('adminRestoAdd')}}"> Ajout </a>
        <div id="salonListeBox">
        {% for Resto in resto %}
         <div class="salonListe">
             <img src="{{asset('../web/images/')~Resto.Photo}}">
           <p>{{Resto.Nom}}</p>
           <p>{{Resto.Prix}}</p>
           <p>{{Resto.Type}}</p>
           <div>
               <a href=" {{ path('suprResto', {'id':Resto.id})}}">Supprimer</a>
           </div>
         </div>
        </div>
        {% endfor %}
    {% endblock %}