{% extends "base.html.twig" %}


{% block nav %}  
        <nav class="nav1 navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle icon-bar" data-toggle="collapse" id="inputResponsive" data-target="#myNavbar">

            </button>
            <header class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Salon de thé</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Gateaux</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Restauration</a></li>
                </ul>
            </header>
            <ul class="contact">
                <li>Gestion des Cocktails</li>
            </ul>
        </nav>
    {% endblock %}
    
    
    {% block corp %}
        
        <h2 id="admiSalon">Liste des cocktails/Thé</h2>
        <a href="{{ path('adminSalonAdd')}}" class="btn btn-default" role="button"> Ajouter </a>
        <div id="container">
            
            
        {% for Salon in salons %}
            <div class="col-sm-6 col-lg-4 col-md-4">
   <div class="thumbnail">
             <img src="{{asset('../web/images/')~Salon.Photo}}">
           <p>{{Salon.Nom}}</p>
           <p>{{Salon.Prix}}</p>
           <p>{{Salon.Type}}</p>
           <div>
               <a href="{{ path('editSalon',{'id':Salon.id})}}" class="btn btn-success" role="button">Modif</a>
               <a href=" {{ path('suprSalon', {'id':Salon.id})}}" class="btn btn-danger" role="button">Supprimer</a>
           </div>
        </div>
        </div>
        
        </div>
        {% endfor %}
    {% endblock %}