{% extends "base.html.twig" %}


{% block nav %}  
        <nav class="nav1 navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle icon-bar" data-toggle="collapse" id="inputResponsive" data-target="#myNavbar">

            </button>
            <header class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Salon de thé</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Gateaux</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Restauration</a></li>
                </ul>
            </header>
            <ul class="contact">
                <img id="logo" src="./../images/large_fun-in-the-sun-title.png" alt="logo">
                <li>Ajouter ou Supprimer des Cocktails</li>
            </ul>
        </nav>
    {% endblock %}
    
    
    {% block corp %}
        <h2 id="admiSalon">Liste des cocktails/Thé</h2>
        <a href="{{ path('adminSalonAdd')}}"> Ajout </a>
        <div id="salonListeBox">
        {% for Salon in salons %}
         <div class="salonListe">
             <img src="{{asset('../web/images/')~Salon.Photo}}">
           <p>{{Salon.Nom}}</p>
           <p>{{Salon.Prix}}</p>
           <p>{{Salon.Type}}</p>
           <div>
               <a href=" {{ path('suprSalon', {'id':Salon.id})}}">Supprimer</a>
           </div>
         </div>
        </div>
        {% endfor %}
    {% endblock %}