{% extends "base.html.twig" %}


{% block body %}{{parent()}}{% endblock %}
    
    
    {% block corp %}
        
        <h2 id="admiSalon">Liste des cocktails/Thé</h2>
        <a href="{{ path('adminSalonAdd')}}" class="btn btn-default" role="button"> Ajouter </a>
        <div id="container">
            
            
        {% for Salon in salons %}
            <div class="col-sm-6 col-lg-4 col-md-4">
   <div class="thumbnail">
             <img src="{{asset('../web/images/')~Salon.Photo}}">
           <p>{{Salon.Nom}}</p>
           <p>{{Salon.Prix}}</p>
           <p>{{Salon.Type}}</p>
           <div>
               <a href="{{ path('editSalon',{'id':Salon.id})}}" class="btn btn-success" role="button">Modifier</a>
               <a href=" {{ path('suprSalon', {'id':Salon.id})}}" class="btn btn-danger" role="button">Supprimer</a>
           </div>
        </div>
        </div>
        
        </div>
        {% endfor %}
    {% endblock %}