{% extends "base.html.twig" %}


{% block body %}{{parent()}}{% endblock %}
    {% block nav %}{% endblock %}
    
    {% block corp %}
 <h1 class="lienajout headerForm">Ajouter Cocktail / Thé</h1>
                 <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 col-sm-offset-1 col-sm-10 col-sm-offset-1 ">

       
           
        {{form_start(formNews,{'attr':{'action':path('valid'),'enctype':'multipart/form-data'}})}}
                <div>
                        {#////// Nom  #}  
                <div class="input-group formEvent">
                    <span class="input-group-addon" >Nom</span>
                    {{ form_widget(formNews.nom, { 'attr': {'class': 'form-control'} })}} {# Class Botstrap #}
                </div>
                {#////// Prix  #} 
                <div class="input-group formEvent">
                    <span class="input-group-addon" >Prix</span>
                    {{ form_widget(formNews.prix, { 'attr': {'class': 'form-control'} })}}
                </div>
                {#////// Photo  #} 
                <div class="input-group formEvent">
                    <span class="input-group-addon" >Photo</span>
                    {{ form_widget(formNews.photo, { 'attr': {'class': 'form-control'} })}}
                </div>
                {#////// Description  #}
                <div class="input-group formEvent">
                    <span class="input-group-addon" >Description</span>
                    {{ form_widget(formNews.type, { 'attr': {'class': 'form-control'} })}}
                </div>
                {#////// Valider  #}
                {{ form_widget(formNews.Valider, { 'attr': {'class': 'form-control'} })}}
            </div>
             
                <a href="{{ path('adminSalon')}}" class="btn btn-danger" role="button"> Retour </a>
   {% endblock %}
